/* Currency pair section styles for all desktop screens */
.widgetContainer {
    padding: 10px;
    display: flex;
    border-bottom: solid #F5F5F5 1px;;
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}
    
.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
    
.priceSection {
    margin: 20px auto auto auto;
    display: flex;
    width: 40vw;
}
.price {
    margin: auto;
    text-align: left;
    width: 10vw;
    padding-left: 50px;
}
.change24h {
    margin: auto;
    text-align: left;
    width: 10vw;
}
    
.sparklineChart {
    margin-top: 10px;
    height: 50px;
}

.priceWidget {
    width: max-content;
    height: 50px;
}


/* Currency pair section styles for all mobile screens */
@media only screen and (max-width: 767px) {
    .widgetContainer {
        padding: 5px;
        align-items: stretch;
        justify-content: stretch;
    }

    .header {
        align-items: left;
        flex-direction: column;
    }
    .logo {
        width: 20px;
        height: 20px;
    }

    .priceSection {
        margin: 10px auto auto auto;
        align-items: stretch;
        justify-content: stretch;
    }

    .change24h {
        margin-right: 0px;
    }

    .price {
        margin-left: 0px;
        text-align: left;
        width: 2vw;
        padding-left: 0px;
    }

    .sparklineChart {
        display: none;
    }

    .priceWidget {
        width: 200px;
        margin-left: 0px;
    }
}
  