/* Header styles for all desktop screens */
#header-container {
    background-color: #00A695;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 10000;
    margin: auto;
}

#header-container div {
    display: flex;
    width: 80%;
}

#header-logo {
    margin: auto auto auto 0px;
}

/* Header navigation styles */
#header-nav {
    display: flex;
    gap: 60px;
    margin: auto 0px auto auto;
}
#header-nav h3 {
    color: #FFFBFB;
}
#header-nav h3:hover {
    box-shadow: 0px 0.3px #FFFBFB;
    transform: rotate(-1deg);
}

#mobile-nav-and-menu-btns {
    display: none !important;
}


/* Hero section styles for all mobile screens */
@media only screen and (max-width: 767px) {
    #header-container {
        height: 60px;
        width: 100%;

    }

    #header-logo {
        margin: 0px auto auto -10px !important;
        transform: scale(0.85);
    }

    #header-container div {
        width: 90%;
    }

    #header-nav {
        display: none;
    }

    #mobile-nav-and-menu-btns {
        display: block !important;
    }

    #menu-btns-container {
        display: flex;
        flex-direction: column;
        margin-left: 83%;
    }

    .menu-btns {
        transform: scale(0.8);
        margin: 5px 0px 0px 0px;
        cursor: pointer;
    }

    #menu-close-btn {
        display: none;
    }

    #mobile-header-nav {
        background-color: #00A695;
        color: #FFFBFB;
        display: flex;
        flex-direction: column;
        padding: 5px 30px 10px 30px;
        margin-left: 10%;
    }

    .mobile-header-nav-item {
        padding: 10px;
        border-top: solid #FFFBFB 1px;
    }
}
