/* Hero section styles for all desktop screens */
#hero-section {
    height: max-content;
    background-image: url('../static_files/hero-icon1.png');
    background-size: cover;
    background-position: center;
    background-color: #40E0D0;
    margin-top: 80px;
    padding-bottom: 75px;
}
#hero-section #hero-note {
    font-size: 22px;
    text-align: left;
    justify-self: left;
    width: 31.5vw;
    padding-top: 20px;
    color: #FFFBFB;
    line-height: 40px;
}

#hero-section h1 {
    margin: 10px auto 0px 10%;
    font-size: x-large;
    font-weight: 600;
    color: #FFFBFB;
}


/* Hero section styles for all mobile screens */
@media only screen and (max-width: 767px) {
    #hero-section {
        height: max-content;
        margin-top: 60px;
        padding-bottom: 80px;
    }

    #hero-section #hero-note {
        font-size: 18px;
        width: 90vw;
        padding-top: 10px;
        line-height: 30px;
    }

    #hero-section h1 {
        margin: 10px auto auto 5%;
        font-size: large;
        font-weight: 600;
        color: #FFFBFB;
    }
}
