@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Global styles for desktop screens */
.uniform-margin {
  margin: auto 10% auto 10%;
}

.general-hr {
  border: solid #00A695 1px;
}


/* Global styles for mobile screens */
@media only screen and (max-width: 767px) {
  .uniform-margin {
    margin: auto 5% auto 5%;
  }
}